@import "./partials/variables";
@import "../../node_modules/bootstrap/scss/functions";

// Original Bootstrap scss files
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.navbar-nav {
  color: black;
}

.active {
  color: black;
  text-decoration: none;
}

.navLink {
  width: 8rem;

  @media (max-width: 1000px) {
    font-size: 2rem;
  }
}

.menuIcon {
  border: none !important;
}

.navbar-toggler {
  color: black !important;
}

.reverted-shadow {
  box-shadow: 0 -3px 6px rgb(0 0 0 / 16%);
}

.faceIcon {
  transition: color 0.3s ease;
}

.faceIcon:hover {
  color: #3b5998;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.timeline {
  height: 300px;
  width: 5px;
  background-color: #e5e5e5;
}

.stub1 {
  line-height: 300px;
  font-size: 24px;
  background-color: #eae4e4;
}

.stub2 {
  margin: 3rem;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  background-color: #e5e5e5;
}

.circleWrapper {
  position: relative;
}

.message {
  position: absolute;
  top: 20%;
  left: 50%;
  min-width: 150px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .soMe {
    margin-top: 1rem !important;
    text-align: left !important;
  }
}
